@import url("setup.css");

.main__container {
  width: 100%;

  .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    >div {
      display: flex;
      align-items: center;
      flex-direction: row;

      img {
        max-width: $sizeIcone;
        margin-left: 1.1em;
      }
    }
  }

  h1 {
    text-align: left;
    font-size: $h2Size;
    font-weight: $semiboldWeight;
  }
}

section {
  border-radius: 0.75rem;
  border: $mainNoir 1px solid;
  box-shadow: 4px 4px 10px rgba(27, 27, 27, 0.319);
  padding: 1rem;

  form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .info_gen__input {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      gap: 0.5rem;

      .input__input {
        width: 100%;
        display: flex;
        justify-content: space-between;

        input {
          width: 45%;
        }
      }

      input,
      select,
      option {
        width: 100%;
      }
    }
  }
}