@import url("setup.css");
@import url("verifier.css");
.top {
  position: relative;
  height: 28rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../img/backgr.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.top .top-cont {
  padding: 6rem 0rem 0px 0rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.top h1 {
  color: #ffffff;
  font-size: 4rem;
  font-weight: 600;
}
.top .top__nom {
  color: #ffffff;
  font-size: 2rem;
}

@media (max-width: 1200px) {
  .top .top-cont {
    padding: 3rem 2rem 0px 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.main__logement {
  margin-top: 5rem;
}

.main__container .list__logements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}
.main__container .list__logements .les__logements {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
.main__container .list__logements .titre_nos_log .list__titre{
  font-size: 1.25rem;
  font-weight: 600;
}
#tri_note img{
  height: 2rem;
  width: 2rem;
}
.main__container .list__logements .titre_nos_log .list__titrebutton img {
  width: 1.875rem;
  height: 1.875rem;
  cursor: pointer;
}
.main__container .list__logements .titre_nos_log .list__titrebutton {
  cursor: pointer;
}
.main__container .list__logements .logement__plus {
  cursor: pointer;
  align-self: center;
  border-radius: 0.5rem;
  background-color: #5669ff;
  color: #ffffff;
  padding: 0.8rem 4rem;
}

.coup_de_coeurs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}
.coup_de_coeurs .list__titre {
  font-size: 1.25rem;
  font-weight: 600;
}
.coup_de_coeurs .logement__plus {
  cursor: pointer;
  align-self: center;
  border-radius: 0.5rem;
  background-color: #5669ff;
  color: #ffffff;
  padding: 0.8rem 4rem;
}
.coup_de_coeurs .les__coups {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2rem;
}
.coup_de_coeurs .coups-coeur__container {
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px 16px rgba(18, 18, 18, 0.06);
  height: 230px;
  padding: 1rem 3rem 1rem 0rem;
  gap: 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  align-items: center;
  justify-content: space-between;
}
.coup_de_coeurs .coups-coeur__container_cacher {
  display: none;
}
.coup_de_coeurs .coups-coeur__container > div > h1 {
  color: #878787;
}
.coup_de_coeurs .coups-coeur__container img {
  height: 100%;
  border-radius: 0.5rem;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
  object-fit: cover;
}
.coup_de_coeurs .coups-coeur__container .coups-coeur__titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20rem;
  justify-content: space-between;
}
.coup_de_coeurs .coups-coeur__container .coups-coeur__titre > h1 {
  font-size: 1.25rem;
  margin-right: 1rem;
}
.coup_de_coeurs .coups-coeur__container .coups-coeur__titre h2 {
  color: #878787;
}
.coup_de_coeurs .coups-coeur__container .coups-coeur__titre h2 span {
  margin-right: 0.25rem;
  color: #5669ff;
}
.coup_de_coeurs .coups-coeur__container .coups-coeur__note {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.coup_de_coeurs .coups-coeur__container .coups-coeur__note i {
  color: #ffd33c;
}

.card__container {
  display: flex;
  flex-direction: column;
  width: 325px;
  background-color: #ffffff;
  border-radius: 0.75rem;
  box-shadow: 4px 4px 16px rgba(18, 18, 18, 0.06);
}
.card__container_cacher {
  display: none;
}
.card__container img {
  border-radius: 0.75rem 0.75rem 0 0;
}
.card__container .logement__wrapper_description {
  margin: 1rem;
}
.card__container .logement__wrapper_description .logement__titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__container
  .logement__wrapper_description
  .logement__titre
  .logement__nom {
  color: #222222;
  font-size: 1rem;
  font-weight: 600;
}
.card__container
  .logement__wrapper_description
  .logement__titre
  .logement__note {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
}
.card__container
  .logement__wrapper_description
  .logement__titre
  .logement__note
  i {
  margin-right: 0.5rem;
  color: #ffd33c;
}
.card__container .logement__wrapper_description .logement__localisation {
  color: #878787;
  font-size: 1rem;
  font-weight: 600;
}
.card__container .logement__wrapper_description .logement__prix__alignement {
  display: flex;
}
.card__container .logement__wrapper_description .logement__prix__alignement h1 {
  margin-right: 0.3rem;
}
.card__container
  .logement__wrapper_description
  .logement__prix__alignement
  h1.logement__prix {
  font-size: 1rem;
  font-weight: 600;
  color: #5669ff;
} /*# sourceMappingURL=index.css.map */

/* Styles de base pour l'autocomplétion */
.autocomplete-suggestions {
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  background-color: #fff;
  position: absolute;
  margin-top: 80px;
}
.autocomplete-suggestion {
  padding: 10px;
  cursor: pointer;
}
.autocomplete-suggestion:hover {
  background-color: #e9e9e9;
}
.titre_nos_log{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.top{
  margin-bottom: 5rem;
}