@import url("setup.css");
.main__container.logement {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.logement__nom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.7rem;
}

.nom h1 {
  font-size: 2.25rem;
  font-weight: 600;
}

.nom {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
}

.stars {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.stars i {
  color: #FFD33C;
}

#logement__rate__valuernote {
  color: #101010;
  font-size: 1.5rem;
  font-weight: 600;
}

.retour img, .partager img {
  width: 2.5rem;
  height: 2.5rem;
}

.partager {
  display: inline-flex;
  gap: 0.3rem;
  align-items: center;
}

.partager a {
  font-size: 1.5rem;
  text-decoration: underline;
  font-weight: 300;
}

.partager a:hover {
  color: #5669FF;
}

.logement__adr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logement__adr h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

.logement__adr a {
  color: #FFFFFF;
  padding: 0.5rem 2rem;
  font-size: 1.25rem;
  border-radius: 0.75rem;
  background: #5669FF;
}

.logement__adr a:hover {
  background-color: #9AA5FF;
}

.logement__photos {
  display: flex;
  justify-content: space-between;
}

.photo__grille {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.photo__grille img {
  width: 100%;
  height: auto;
  max-width: 21.875rem;
  max-height: 15.625rem;
  -o-object-fit: cover;
     object-fit: cover;
}

#main__photo {
  width: 40%;
  height: auto;
  max-width: 36.75rem;
  max-height: 33.4375rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1200px) {
  .photo__grille img {
    max-width: 15rem;
    max-height: 12rem;
  }
}
@media (max-width: 800px) {
  .stars i {
    font-size: 15px;
  }
  .logement__adr a {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  .logement__adr h2 {
    font-size: 1.25rem;
  }
  .retour img, .partager img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .partager a {
    font-size: 1.25rem;
  }
  .nom h1 {
    font-size: 2rem;
  }
  .photo__grille img {
    max-width: 10rem;
    max-height: 8rem;
  }
  #main__photo {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .stars {
    gap: 0.5rem;
  }
  #logement__rate__valuernote {
    font-size: 0.75rem;
    font-weight: 400;
  }
  .logement__adr a {
    padding: 0.5rem 0.7rem;
    font-size: 0.75rem;
  }
  .nom {
    gap: 0.5rem;
  }
  .logement__adr h2 {
    font-size: 0.75rem;
  }
  .retour img {
    display: none;
  }
  .partager img {
    width: 1rem;
    height: 1rem;
  }
  .partager a {
    font-size: 0.75rem;
  }
  .nom h1 {
    font-size: 1.25rem;
  }
  .photo__grille img {
    max-width: 8rem;
    max-height: 6rem;
  }
  #main__photo {
    width: 50%;
  }
  .photo__grille {
    gap: 0.5rem;
  }
}
@media (max-width: 550px) {
  .logement__photos {
    flex-direction: column;
    gap: 0.5rem;
  }
  .photo__grille img {
    width: 49%;
    height: auto;
    max-width: none;
    max-height: 8rem;
  }
  #main__photo {
    width: 100%;
    max-height: 15rem;
  }
  .photo__grille {
    justify-content: space-between;
  }
}
@media (max-width: 425px) {
  .logement__nom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .nom h1 {
    font-size: 1rem;
  }
  .stars i {
    font-size: 10px;
  }
  .photo__grille img {
    width: 45%;
    height: auto;
    max-width: none;
    max-height: 6rem;
  }
  #main__photo {
    width: 100%;
    height: auto;
    max-width: none;
    max-height: 8rem;
  }
  .logement__photos {
    align-items: center;
  }
}
.logement__res {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  border-radius: 0.75rem;
  border: 1px solid #878787;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.12);
  gap: 1.5rem;
}

.res__fromulaire {
  border: 1px solid #222;
  border-radius: 0.5rem;
}

.logement__res form, .res__fromulaire {
  display: flex;
  flex-direction: column;
}

.logement__res form {
  gap: 1.5rem;
}

.res__dates {
  padding: 0.4rem 0.7rem;
  display: flex;
  border-bottom: 1px solid #222;
}

.res__arrive, .res__dep, .res__voy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
  padding: 0.5rem 1rem 0.3rem 0.6rem;
}
.res__arrive label, .res__dep label, .res__voy label {
  font-weight: 600;
  font-size: 0.5rem;
  text-transform: uppercase;
}
.res__arrive input, .res__dep input, .res__voy input {
  color: #909090;
  font-weight: 300;
}

.res__voy input {
  width: 100%;
  padding: 0.5rem;
}

.res__dep {
  border-left: 1px solid #222;
}

.res__voy {
  padding: 0.4rem 0.7rem;
}

.logement__res input[type=submit] {
  cursor: pointer;
  align-self: stretch;
  border-radius: 0.5rem;
  background-color: #5669FF;
  color: #FFFFFF;
  padding: 0.8rem 4rem;
}

.logement__res h2 {
  font-size: 1.25rem;
  max-width: 17rem;
  font-weight: 300;
}

.logement__calcules {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #878787;
}

.calcules__ligne, .logement__total-ttc {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.calcules__under {
  text-decoration: underline;
}

.ttc__jours {
  display: flex;
}

.ttc_prix {
  display: flex;
}

.frais {
  display: flex;
}

.logement__total-ttc {
  display: flex;
  font-weight: 600;
}

#logement__reserver h2 {
  font-size: 1.25rem;
}
#logement__reserver h2 span {
  font-size: 1.5rem;
  font-weight: 600;
}/*# sourceMappingURL=logement.css.map */