@import url("setup.css");
.detail_mon_compte__conteneur {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.detail_mon_compte__conteneur h2 {
  font-size: 2.25rem;
  font-weight: 700;
}
.detail_mon_compte__conteneur h3 {
  font-size: 2rem;
  color: #5669ff;
}
.detail_mon_compte__conteneur #identifiant_client {
  color: #222222;
}
.detail_mon_compte__conteneur .info_perso_conteneur, .detail_mon_compte__conteneur .adresse_conteneur {
  display: flex;
  border-radius: 0.75em;
  flex-direction: column;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1.875em;
  margin-bottom: 2rem;
}
.detail_mon_compte__conteneur .photo_conteneur, .detail_mon_compte__conteneur .mdp_conteneur, .detail_mon_compte__conteneur .coord_bancaire_conteneur {
  display: flex;
  border-radius: 0.75em;
  flex-direction: column;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1.875em;
}
.detail_mon_compte__conteneur .compte__form {
  width: 50%;
  padding: 0rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
}
.detail_mon_compte__conteneur .compte__form h1 {
  font-weight: 600;
  font-size: 2.25rem;
  letter-spacing: 0.0225rem;
}
.detail_mon_compte__conteneur .compte__form p {
  font-size: 1.25rem;
  line-height: 160%;
  letter-spacing: 0.0125rem;
}
.detail_mon_compte__conteneur .compte__form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.detail_mon_compte__conteneur .compte__input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.detail_mon_compte__conteneur .compte__input label {
  font-size: 1rem;
}
.detail_mon_compte__conteneur .compte__input input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.75rem;
  border: 1px solid #222222;
  background: #ffffff;
}
.detail_mon_compte__conteneur .compte__input input::-moz-placeholder {
  color: rgba(34, 34, 34, 0.5);
  font-size: 1rem;
}
.detail_mon_compte__conteneur .compte__input input::placeholder {
  color: rgba(34, 34, 34, 0.5);
  font-size: 1rem;
}
.detail_mon_compte__conteneur .compte__input select {
  border: 1px solid #222222;
  font-size: 1rem;
  font-weight: 300;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../img/down.webp");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.8rem auto;
  width: 100%;
  height: auto;
  padding: 1rem;
  border-radius: 0.75rem;
  color: #222222;
}
.detail_mon_compte__conteneur .ligne {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 3rem;
}
.detail_mon_compte__conteneur .photo_conteneur img {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  align-self: center;
  margin: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__container {
  width: 100%;
}

.header_info_compte {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.identifiant_client {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.ensemble_flex {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.sous_ensemble_flex {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.photo_conteneur img {
  display: inline;
  align-items: center;
}

.mdp_conteneur label[for=showPassword] {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

#showPassword {
  width: 1rem;
}

.detail_mon_compte__conteneur .photo_conteneur {
  width: 60%;
  gap: 3rem;
}

#photo_client {
  width: 40%;
  gap: 2rem;
}

#mdp_client {
  width: 60%;
  height: -moz-max-content;
  height: max-content;
}

.sauvegarde {
  background-color: #5669ff;
  border-radius: 0.75rem;
  width: 20%;
  padding: 1rem 0rem;
  height: -moz-fit-content;
  height: fit-content;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

#compte__email {
  width: 38.5%;
}

#compte__complement3 {
  width: 60%;
}

#compte__mdp {
  width: 46%;
}

.changer_photo label {
  font-size: 1.5rem;
  color: #5669ff;
}

.changer_photo .sauvegarde {
  width: 30%;
}

.mdp_conteneur .ligne {
  width: 100%;
  justify-content: space-between;
}

.login_invalid {
  color: #ff6258;
  align-self: flex-start;
  font-size: 1rem;
}/*# sourceMappingURL=mon_compte.css.map */